.text-block-about{
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--color8);
}


.text-block-about >h1 {
  font-family: var(--font-titles);
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  color: var(--color1);
  width: 100%;
  text-align: center;
  line-height: 3rem;
}


.text-block-about > blockquote {
  color: var(--color3);
  font-weight: 600;
  padding: .2rem;
  text-align: center;
  line-height: 1.5rem;
}


.text-block-about >p {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color2);
  line-height: 1.3;
  text-align: justify;
  text-justify: inter-word; /* mais equilibrado */
  hyphens: auto;
}


.image-block-about{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.image-block-about img {
  width: 80%;
  height: auto;

}

.text-block-about-colored{
  display: flex;
  justify-content: center;
  margin-top: -15px;
  background-color: var(--color5);
}

#colored{
  background-color: var(--color5);

}

@media(min-width: 1024px){

  .text-block-about{
    max-width: 80%;
  }

  .image-block-about{
    max-width: 50%;
  }
}