.super-header {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  gap: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: var(--color3);

}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}


.header-container>.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .2rem;
  padding: 1rem;
  font-family: var(--font-logo);
  text-decoration: none;
  font-size: 2rem;
  color: var(--color6);
}


.logo>.header__SVG {
  width: 2rem;
  height: 2rem;
  fill: none;
  stroke: var(--color6);
}


.menu-links {
  display: none;
}


#menu-list {
  width: 2.7rem;
  height: 2.7rem;
}


@media(min-width: 1024px) {


  .menu-links {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    margin-right: 5rem;
  }

 .menu-links a {
  position: relative;
  text-decoration: none;
  color: var(--color6);
  padding: 0.5rem;
  text-align: center;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.menu-links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: var(--color8);
  transition: transform 0.3s ease;
}

.menu-links a:hover::after {
  transform: translateX(-50%) scaleX(1);
}


  #menu-list {
    display: none;
  }
}