#super-container-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color6);
}


.super-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70vh;
  padding: 0 5vw;
  border-radius: 25px;
  background-color: var(--color7);
  box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.25);

}


/* logo */
.logo-block {
  width: 100%;
  height: 10%;
}


.logo-block>.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo p {
  font-size: 2.5rem;
  font-family: var(--font-logo);
  stroke: var(--color6);
  color: var(--color6);
}


#apple-login {
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  stroke: var(--color6);
}


/* Formulario */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  padding-left: 1rem;
  padding-right: 1rem;
}


.camps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 8.2vh;
  margin-bottom: 1rem;
}


.camps>label {
  font-family: var(--font-logo);
  text-align: left;
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.02rem;
  color: var(--color6);
}


.camps input {
  flex: 1;
  padding-left: 15px;
  border: .01rem solid var(--color3);
  border-radius: 10px;
  font-family: var(--font-read);
  font-size: 1rem;
  background-color: var(--color3);
  color: white;
}

input:focus {
  outline: none;
}

input::placeholder {
  padding-left: 5px;

  font-family: var(--font-logo);
  font-weight: 400;
  font-size: 1rem;
  color: rgba(250, 250, 250, 0.7);
}


.login-register-button {
  width: 14.75rem;
  height: 2.8rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: var(--font-logo);
  font-size: 1.3rem;
  cursor: pointer;
  background-color: var(--color6);
  color: var(--color4);
}

.login-register-button:hover {
  font-weight: 700;
  background-color: var(--color8);
  color: var(--color4);

  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}

.login-register-button:focus {
  border-inline: 1px solid var(--color4);
  color: var(--color7);
}


.message-login-register {
  font-family: var(--font-read);
  font-size: .9rem;
  font-style: italic;
  color: var(--color8);
}


.message-login-register>.link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color5);
}

 

.input-error {

  border: 1px solid red;
}


.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
   
}
.tooltip-error {
  position: absolute;
    top: 130%; /* posicionado acima do input */
  left: 50%;
  transform: translateX(-50%) translateY(-8px); /* sobe um pouco */
  background-color: var(--color8);
  color: var(--error-bg);
  font-weight: 700;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  white-space: nowrap;
  z-index: 10;
  animation: fadeInTop 0.3s ease-in-out;
}

.tooltip-error::before {
  display: none;

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -8px);
    /* vem de cima e já centralizado */
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
    /* centralizado no final */
  }
}



@media (min-width:1024px) {
  #super-container-form {
    display: flex;
    flex-direction: row;

    padding: 2vh;
    background-color: var(--color1);


  }

  
  .login-form{
    display: flex;
    justify-content: center;
    width: 50%;
     
  }

  .super-form > form{
    height: 50vh;
  }
  .super-form {
    width: auto;
    padding: 0 5vw;
    height: 80vh;
    background-color: var(--color8);
  }

  .logo>p {
    color: var(--color2);
    font-size: 3rem;
  }

  #apple-login {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    stroke: var(--color2);
  }

  .camps {
    height: 15vh;
  }


  .camps>label {
    color: var(--color2);
    font-size: 1.4rem;

  }

  .camps input {
    flex: 0 0 auto;
    height: 6.6vh;
    color: var(--color2);
    font-weight: 600;
    border-color: var(--color2);
    background-color: var(--color6);
  }

  input::placeholder {
    color: var(--color2);
    font-weight: 600;
  }

  .login-register-button {
    background-color: var(--color2);
    color: var(--color8);
  }

  .login-register-button:hover {
    font-weight: 700;
    background-color: var(--color5);
    color: var(--color2);

    transform: scale(1.02);
    transition: 0.2s ease-in-out;
  }

  .message-login-register {
    font-size: 1rem;
    color: var(--color2);
  }


  .message-login-register>.link {
    text-decoration: underline;
    color: var(--color4);
    margin-left: 2px;

  }




  .h1-login-register {
    text-align: center;
    width: 80%;
    font-family: var(--font-titles);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--color6);
  }

  .svg-login-register {

    width: 60%;
    height: 60%;

  }


  #camp-pass{
    height: 20vh;
  }

 

 .tooltip-error {
    background-color: var(--error-bg);
    color: var(--error-text);
    max-width: 300px;
    animation: fadeDown 0.3s ease-in-out;
  }

 @keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

 
}