 

.personal-info,
.login-info,
.container-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
label {
  font-family: var(--font-logo);
  
}

label{
  font-size: 1rem;
  font-weight: 600;
}

h2{
  margin-top: 2rem;
  margin-bottom: 1rem;
}



.personal-camps,
.info-camps {
  display: flex;
  flex-direction: column;


   
}

 .personal-camps > input,
 .info-camps > input{
  width: 15rem;
  height: 2rem;

  font-size: 1.2rem;
  color: black;
  background-color: var(--color8);
  border-radius: 10px;

  border: .2px solid var(--color3);
  padding-left: 10px;
 }



.form-personal, .form-info{
  height: 25vh;
  padding: 0;
}




.container-profile {

  width: 90%;
  height: 100%;
 
}