 .questionary-container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-top: 10vh;
   background-color: bisque;
 }

 .progress-container {
   background-color: beige;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

   margin-top: 10vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;


   width: 100%;
   height: 5vh;
   overflow: hidden;
   gap: 1vh;

 }

 .progress-bar {
   height: 1vh;
   width: 78%;
   border-radius: 10px;
   background-color: #4caf50;
   /* verde saudável */
   transition: width 0.3s ease-in-out;

 }

 .arrow {
   display: flex;

 }

 .arrow>.header__SVG {
   width: 1.4rem;
   height: 1.4rem;

 }



 .step-image,
 .step-description,
 .step-single,
 .step-multiple {
   background-color: darkgrey;
   height: 10vh;


 }